.pagination{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.user-pagination-text{
    margin-right: 0.5rem;
    color: #212121;
}

.user-pagination-btn{
    background-color: #00575f;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
